.animated {

    &.spin {
        animation: spin 1s linear;
    }

    &.slide-left {
        animation: slide-left 1s linear;
    }

}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-moz-keyframes slide-left {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(0%); }
}
@-webkit-keyframes slide-left {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0%); }
}
@keyframes slide-left {
    from {transform:translateX(100%);}
    to {transform:translateX(0%);}
}