// TODO: Button sizes
// TODO: Button groups
// TODO: Button icon animations
// TODO: Button block/width/fluid/justify

$text-color: color('dark', 'primary') !default;
$bg-color: transparent !default;
$bg-color-hover: rgba(0, 0, 0, 0.05) !default;
$bg-color-active: rgba(0, 0, 0, 0.15) !default;
$btn-font-size: 1em !default;
$btn-padding-y: 8px;
$btn-padding-x: 16px;
$btn-label-bg-color: rgba(0, 0, 0, 0.15);

%btn {
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;

    display: inline-block;
    margin: 0;
    padding: $btn-padding-y $btn-padding-x;

    border: 2px solid transparent;
    font-size: $btn-font-size;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: transparent;

    &.circle {
        padding: $btn-padding-y;

        .icon {
            margin: 0;
        }
    }

    &.labeled {
        .label {
            transition: background-color .2s;

            display: inline-block;
            margin: calc(-#{$btn-padding-y} - 2px) calc(#{$btn-padding-x} / 2) calc(-#{$btn-padding-y} - 2px) calc(-#{$btn-padding-x} - 2px);
            padding: calc(#{$btn-padding-y} + 2px) calc(#{$btn-padding-x} / 2);
            float: left;

            height: 100%;
            width: auto;

            background-color: $btn-label-bg-color;

            &.right {
                float: right;

                margin: calc(-#{$btn-padding-y} - 2px) calc(-#{$btn-padding-y} - 9px) calc(-#{$btn-padding-x} - 2px) calc(#{$btn-padding-x} / 2);
            }
        }
    }

    &.rounded.labeled {
        .label {
            padding-left: calc(#{$btn-padding-y} * 2);

            background-color: transparent;

            &.right {
                padding-left: $btn-padding-y;
                padding-right: calc(#{$btn-padding-y} * 2);
            }
        }

        &:hover .label {
            background-color: $btn-label-bg-color;
        }
    }

    .icon {
        @extend .material-icons;

        display: inline-block;
        float: left;
        margin: 0 8px 0 0;

        font-size: calc(#{$btn-font-size} + 3px);

        &.right {
            float: right;
            margin: 0 0 0 8px;
        }
    }
}

.btn {
    @extend %btn;

    background-color: $bg-color;
    color: $text-color;

    &:hover {
        background-color: $bg-color-hover;
    }

    &:active {
        background-color: $bg-color-active;
    }
}

.btn-outline {
    @extend %btn;
}

.btn-flat {
    @extend %btn;

    &.labeled {
        .label {
            background-color: transparent;
        }

        &:hover .label {
            background-color: $btn-label-bg-color;
        }
    }
}

@each $color_name, $color in $colors {
    @each $color_type, $color_value in $color {
        @if $color_type == "base" {
            // Updating variable
            $bg-color: $color_value;
            @if (lightness($color_value) > 75) {
                $text-color: color('dark', 'secondary');
            } @else {
                $text-color: color($color_name, 'lighten-5');
            }

            // Default Buttton Colors
            .btn.#{$color_name} {
                color: $text-color;

                &:hover {
                    background-color: shade($bg-color, 10%) !important;
                }

                &:active {
                    background-color: shade($bg-color, 20%) !important;
                }
            }

            // Outline Button Colors
            .btn-outline.#{$color_name} {
                background-color: transparent !important;
                color: $bg-color;
                border-color: $bg-color;

                &:hover {
                    background-color: $bg-color !important;
                    color: $text-color;
                    border-color: transparent;
                }

                &:active {
                    background-color: shade($bg-color, 10%) !important;
                }
            }

            // Flat Button Colors
            .btn-flat.#{$color_name} {
                background-color: transparent !important;
                color: $bg-color;

                &:hover {
                    background-color: $bg-color !important;
                    color: $text-color;
                    border-color: transparent;
                }

                &:active {
                    background-color: shade($bg-color, 10%) !important;
                }
            }
        } @else if $color_name != "shades" and $color_name != "dark" and $color_name != "light" {
            // Updating variable
            $bg-color: $color_value;
            @if (lightness($color_value) > 75) {
                $text-color: color('dark', 'secondary');
            } @else {
                $text-color: color($color_name, 'lighten-5');
            }

            // Default Button Shades
            .btn.#{$color_name}.#{$color_type} {
                color: $text-color;

                &:hover {
                    background-color: shade($bg-color, 10%) !important;
                }

                &:active {
                    background-color: shade($bg-color, 20%) !important;
                }
            }

            // Outline Button Shades
            .btn-outline.#{$color_name}.#{$color_type} {
                background-color: transparent !important;
                color: $bg-color;
                border-color: $bg-color;

                &:hover {
                    background-color: $bg-color !important;
                    color: $text-color;
                    border-color: transparent;
                }

                &:active {
                    background-color: shade($bg-color, 10%) !important;
                }
            }

            // Flat Button Shades
            .btn-flat.#{$color_name}.#{$color_type} {
                background-color: transparent !important;
                color: $bg-color;

                &:hover {
                    background-color: $bg-color !important;
                    color: $text-color;
                    border-color: transparent;
                }

                &:active {
                    background-color: shade($bg-color, 10%) !important;
                }
            }
        }
    }
}