$radius-corner: 0 !default;
$radius-raised: 3px !default;
$radius-rounded: 360px !default;
$radius-circle: $radius-rounded !default;

.corner {
    border-radius: $radius-corner;
    overflow: hidden;
}

.raised {
    border-radius: $radius-raised;
    overflow: hidden;
}

.rounded {
    border-radius: $radius-rounded;
    overflow: hidden;
}

.circle {
    border-radius: $radius-circle;
    overflow: hidden;
}